@using Shop.Domain.Entities.Identity
@model Shop.Domain.DTOs.UserPanel.UserResetPasswordDTO

@{
    ViewData["Title"] = "تغییر رمز عبور ";
}

<section class="inner-page" id="profile-page">

    <partial name="_UserPanelBreadCrumb" />

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            @await Component.InvokeAsync("UserSideBar")
                        </div>

                        <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                            <form asp-area="User" asp-controller="Home" asp-action="ResetPassword" method="post" >
                                <!-- Profile Fields -->
                                <partial name="_CaptchaInput" />
                                <input type="hidden" asp-for=Token />
                                <div class="custom-container bg-light" id="profile-fields">
                                    <div class="row pt-2 px-3 ">
                                        <div class="col-12"><h1>اطلاعات شخصی</h1></div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="title">رمز عبور فعلی </div>
                                                <input type="password" asp-for=CurrentPassword class="form-control" />
                                                <span asp-validation-for=CurrentPassword class=text-danger></span>
                                            </div>
                                            <div class="col-4">
                                                <div class="title">رمز عبور جدید </div>
                                                <input type="password" asp-for=Password class="form-control" />
                                                <span asp-validation-for=Password class=text-danger></span>
                                            </div>
                                             <div class="col-4">
                                                <div class="title">تکرار رمز عبور جدید </div>
                                                <input type="password" asp-for=ConfirmPassword class="form-control" />
                                                <span asp-validation-for=ConfirmPassword class=text-danger></span>
                                            </div>
                                        </div>
                              
                                        <div class="row">
                                            <div class="form-group">
                                                <a><input type="submit" value="ثبت" class="btn btn-success"></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- /Profile Fields -->


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


