



<div class="container-fluid" id="page-hero">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 px-0">
                        <h1>ناحیه کاربری</h1>
                        <p>به ناحیه کاربری روبیک مارکت خوش آمدید.</p>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb"/>
                                <li class="breadcrumb-item"><a href="/">صفحه نخست</a></li>
                                <li class="breadcrumb-item"><a href="/User">ناحیه کاربری</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ویرایش پروفایل</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>