@model Shop.Domain.DTOs.Paging.BasePaging


<ul class="pagination">
    @for (int i = Model.StartPage; i <= Model.EndPage; i++)
    {
        <li class="@(Model.PageId == i ? "active":"") cursor-pointer"><a onclick="FillPageId(@i)">@i<span class="sr-only">(current)</span></a></li>
    }
</ul>

<partial name="PagingScripts" />

